#htmls, #csharp, #javas {
  display:none;
}

.btn {
  display: block;
}
.jumbotron-fluid {
  background-color: rgb(221, 137, 117);
  color: black;
  font-family: 'Times New Roman'; 
  text-align: center;
}

body {
  background-image: url("mutedtones.jpg") ;
  background-color: transparent;
  height: 500px;
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
}

.card{
  background-color: rgb(97, 177, 214);
}

.card-img-top {
  background-color: cornsilk;
}