#htmls, #csharp, #javas {
  display:none;
}

.btn {
  display: block;
}
.jumbotron-fluid {
  background-color: rgb(221, 137, 117);
  color: black;
  font-family: 'Milkshake'; 
  text-align: center;
}

body {
  background-image: url("mutedtones.jpg") ;
  background-color: transparent;
  height: 500px;
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
}

.card{
  background-color: rgb(97, 177, 214);
  border-radius: 10em;
}

.card-img-top {
  background-color: cornsilk;
  height: 250px;
}

.texts {
  font-family: Milkshake;
  font-size: 30px;
  

}

@font-face {
  font-family: 'Milkshake';
  src: url(Milkshake.otf);

}

#parks, #candies, #animals, #color, #location {
  inline-size: 300px;
  position: relative;
  border-radius: 10em;
  border: 10px solid rgb(189, 132, 82);
  font-size: 30px;
  font-family: Milkshake;
  
}